@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Pacifico", cursive;
  --font-secondary: "Red Hat Display", sans-serif;

  --color-primary: #db0000;
  --color-primary-dark: #831010;
  --color-secondary: #564d4d;
  --color-bg: #ffffff;
  --color-bg-dark: #221f1f;
  --color-text: #221f1f;
  --color-text-dark: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  overflow-y: scroll;
}

/* Hide scrollbar background */
.card::-webkit-scrollbar {
  height: 10px;
}

/* Track (background) */
.card::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the draggable part) */
.card::-webkit-scrollbar-thumb {
  background-color: #564d4d;
  border-radius: 10px;
}

/* On hover – slightly brighter */
.card::-webkit-scrollbar-thumb:hover {
  background-color: #716363;
}